
<div class="row">
  <div class="box">
    <div class="col-lg-12 text-left">
      <img class="img-responsive img-border img-center" src="img/hyperlog.png" width="200px" alt="">
      <h2 class="intro-text text-center">
        <strong>Gianluca Moro</strong>
      </h2>
      <center>
        Curriculum Vitae
      </center>
    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <h4 class="intro-text text-center">
          <strong>Books</strong>
        </h4>
        <ul>
        <li><a href="http://www.lulu.com/shop/gianluca-moro-and-massimo-gola/symfony-e-php/paperback/product-23866400.html">
          Symfony e Php</a>, Gianluca Moro e Massimo Gola, 2018, ISBN: 9780244732554;
          <a href="http://www.lulu.com/content/e-book/symfony-e-php/24100232">anche come e-book</a>, ISBN: 9780244741686;
        </li>




        <li>Co-Translator EN-IT of
          <a href="http://www.purpleculture.net/cinese-contemporaneo-livello-avanzato-grammatica-p-21921/">
          Cinese Contemporaneo, livello avanzato, grammatica</a> 
          and <a href="https://www.purpleculture.net/cinese-contemporaneo-livello-avanzato-libro-degli-esercizi-p-21922/">Cinese Contemporaneo, livello avanzato, esercizi</a>, Wu Zhong Wei, Editrice Sinolingua, 2015, ISBN: 9787513808958 and 9787513808941.
        </li>
        <li><a href="http://www.lulu.com/content/paperback-book/nsa-note-su-android/10872370">
          NSA, Note su Android</a>, Gianluca Moro, 2011, ISBN: 9781257859924; 
          see <a href="http://giammy.com/nsa.html">this page</a>.
        </li>
        <li><a href="http://www.lulu.com/content/1018770">Riflessioni</a>, Gianluca Moro, 2007;
          see <a href="http://giammy.com/riflessioni.html">this page</a>.
        </li>
        </ul>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <h4 class="intro-text text-center">
          <strong>Papers, Posters, Conferences</strong>
        </h4>
        <ul>

	  <li>
	    2020 - Paper: Web-based streamed waveform display using MDSplus events and Node.js;
	    G.Manduchi, A.Luchetta, G.Moro, A.Rigoni, C.Taliercio;
	    Fusion Engineering and Design, Volume 157, August 2020,
            <a href="https://doi.org/10.1016/j.fusengdes.2020.111625">
	      https://doi.org/10.1016/j.fusengdes.2020.111625</a>
	  </li>

	  <li>
	    2019 - POster - Proposal for upgrades of the control and data acquisition
	    system of the Negative Ion Source NIO1;
	    D. Ravarotto, G. Serianni, G. Moro;
	    XXIV AIV conference, 7-10 maggio 2019, Giardini Naxos, Sicily, Italy;
	    </li>

	  
          <li>
	    2017 - Paper: Improvements of the Versatile Multiaperture Negative Ion Source NIO1;
	    M. Cavenago, G. Serianni, M. De Muri, P. Veltri, V. Antoni, C. Baltador, 
	    M. Barbisan, M. Brombin, A. Galatà, N. Ippolito, T. Kulevoy, R. Pasqualotto, 
	    S. Petrenko, A. Pimazzoni, M. Recchia, E. Sartori, F. Taccogna, V. Variale, 
	    B. Zaniol, P. Barbato, L. Baseggio, V. Cervaro, D. Fasolo, L. Franchin, 
	    R. Ghiraldelli, B. Laterza, M. Maniero, D. Martini, L. Migliorato, 
	    A. Minarello, F. Molon, G. Moro, T. Patton, D. Ravarotto, R. Rizzieri, 
	    A. Rizzolo, M. Sattin, F. Stivanello and S. Zucchetti;
	    AIP Conference Proceedings 1869, 030007 (2017); doi: 10.1063/1.4995727;
<!--
1INFN-LNL, v.le dell’Universita n 2, I-35020, Legnaro (PD) Italy
2Consorzio RFX, Associazione Euratom-ENEA sulla fusione, c.so S. Uniti 4, 35127 Padova, Italy 
3ITEP, B. Cheremushkinskaya 25, 117218 Moscow, Russia
4INFN-BA, via Orabona 4, I-70126, Bari, Italy
5CNR-Nanotec PLasMI lab, via Amendola 122/D, 70126-Bari, Italy
-->
	  </li>

	  <li>
	    2017 - Paper: Acquisition, Data Retrieval, Interlock and Control
	    Systems for the Negative Ion Source NIO1; G. Serianni, C. Baltador,
	    P. Barbato, L. Baseggio, R. Cavazzana, M. Cavenago, M. De Muri,
	    B. Laterza, L. Migliorato,3, F. Molon, G. Moro, D. Ravarotto,
	    R. Pasqualotto, T. Patton, M. Recchia, C. Taliercio, P. Veltri;
	    AIP Conference Proceedings 1869, 060006 (2017); doi: 10.1063/1.4995793;
	  </li>

<!--
        <li>

	  Poster: Control, Interlock, Acquisition and Data Retrieval
	  Systems for the Negative Ion Source NIO1. G. Serianni,
	  C. Baltador, P. Barbato, L. Baseggio, R. Cavazzana,
	  M. Cavenago, M. De Muri, B. Laterza, L. Migliorato,
	  F. Molon, G. Moro, D. Ravarotto, R. Pasqualotto, M. Recchia,
	  C. Taliercio, P. Veltri.  The 5th International Symposium on
	  Negative Ions, Beams and Sources (NIBS 2016)

	       12th - 16th September 2016 St. Anne's College, Oxford, UK
	       1,2 1 Consorzio RFX, Corso Stati Uniti 4 – 35127,
	       Padova (Italy) 2 INFN-LNL, Viale dell’Università 2,
	       I-35020, Legnaro (Italy) 3 University of Padova, Centro
	       Ricerche Fusione, Corso Stati Uniti 4 – 35127, Padova
	       (Italy) http://nibs2016.org/

        </li>
-->

        <li>
	  2017 - Poster: C.A.R.S. — Control and Acquisition on RaspberryPi Systems. 
          Gianluca Moro. AIV XXIII Conference, Firenze, Italy, April 5-7, 2017.
	</li>

	<li>
	  2013 - Speaker: Project Voca.Tio - a technical overview. World
	  Summit on the Information Society, WSIS2013, Geneva, CH.
	</li>
        <li>
          2012 - Poster: Communication Aids for Temporarily Impaired Owners
          (VOCA.TIO): Digital Aids for a very early Rehabilitation
          Targeting Cognition, Behaviour, Communication and Motor
          Function in a Pediatric Intensive Care Unit: a feasibility
          study. R. Mancin, A. Cracco, G. Damian, P.A. Battistella,
          G. Moro, A. Pettenazzo, G. Perilongo. 9th World Congress on
          Brain Injury. Edimburgh, Scotland, March 21-25,2012
          (Proceedings).
        </li>
	<li>
	  2011 - Presentation of project VOCA.tio. Giornata Nazionale del
	  Bambino e Giornata Mondiale dei Diritti del Fanciullo,
	  Novembre 2011, Palazzo Moroni, Padova, Italy
	</li>
	<li>
	  2011 - Speaker: Presentation of project
	  <a href="http://giammy.com/cloudusb.html">CloudUsb</a>.
	  E-privacy 2011, Firenze, IT, June, 2011
	</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<!-- 
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <h4 class="intro-text text-center">
          <strong>Competences</strong>
        </h4>

	  What do you mean by "competences"? What are you looking for
	  in this section? I admire very much whoever can specialize
	  himself in a particular sector, develope a particular
	  competence and be the one who can resolve every problem in
	  that field. That's not me!

	  <b>My main expertise is the ability to gather some (not always
	  clear) requests, propose a solution based on past
	  experiences or study new technologies, and finally integrate
	  whatever is needed to solve the problem.</b>
	  
	  In various projects, from C.A.R.S. to BCI interface (as
	  software developer), from CloudUSB to Android in embedded
	  systems (as system integrator), I have applied this approach
	  using different competences with the final goal in mind.

	  Here I list some of these competences: for each one I am not
	  the "expert guy" of that sector, but the person who studied
	  the tecnologies for the part needed to solve a particular
	  problem and integrated it in a specific solution.


        <ul>
	  <li> 

	  </li>
	  <li> 
	    
	  </li>


        </ul>

      </p>
    </div>
  </div>
</div>

-->


<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <h4 class="intro-text text-center">
          <strong>Projects</strong>
        </h4>
        <ul>

	  <li>2016-today - the C.A.R.S project (see C.A.R.S poster and
	    papers related to NIO1 project): a framework developer on
	    RaspberryPi to acquire measures from different sources,
	    and send them to etherogeneous storage and/or control
	    systems (MDSplus, Labview, Matlab, local storage, remote
	    database storage, and whatever researchers want!). A sort
	    of universal acquisition-control bridge.
	    </li>

        <li>2016 - I prepared a course for technical staff "Introduzione a GNU/Linux e RaspberryPi" (Introduction to
	  GNU/Linux and RaspberryPi), whose slides are available
          <a href="http://giammy.com/misc.html">here</a> 
        </li>

        <li>2015 - developed 2 Android apps and published on Play
        Store (HSK1,id=com.giammy.hsk1 and HSK1
        Italiano,id=com.giammy.hsk1ita) and some posters to study
        chinese for HSK exam; see
        <a href="http://giammy.com/hsk.html">this page</a>.
        </li>

	<li> 2011-2012 - collaboration with Pediatric ICU (Department of Pediatric) to implement an
	  EEG data acquisition sytem to connect Emotic Epoc to Matlab, OpenVive and a custom Android app
	  to be used in a BCI (Brain Computer Interface) research project
          (see the poster section: "Communication Aids for Temporarily Impaired Owners
          (VOCA.TIO)").
	</li>

	<li> 2011 - Use of Android O.S in embedded applications related to automation systems (see the book section
	  "Note su Android").
	</li>

        <li>2009 - <a href="http://giammy.com/cloudusb.html">CloudUsb</a>: a
	  proof of concept to combine data security and privacy while
	  keeping informaiton on the cloud, presented at E-privacy
	  2011 conference. See
          <a href="http://giammy.com/cloudusb.html">this page</a>.
        </li>

	<li> 2001-2003 - collaboration as author with Linux Magazine: wrote some articles about Linux (mastering, editing, 
	  astronomy, security tools.
	</li>

        <li>2000 TicTacTic - an implementation of Alpha-beta pruning algorithm in Ocaml; 
          see <a href="http://giammy.com/misc.html">this page</a>.
        </li>

        </ul>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <h4 class="intro-text text-center">
          <strong>Working positions</strong>
        </h4>

	<ul>
	  <li>2014-today - technical staff, University of Padova,
	    Centro Ricerche Fusione (University center for Nuclear
	    Fusion Research): webmaster (Drupal based sites) and web
	    application development (Php with Symfony) for custom
	    applications; control and acquisition software development
	    based on Linux platform, with dedicated web interface
	    (used technology: C language, Python, websocket,
	    javascript)
	  </li>

	  <li> 2007-2014 - technical staff, University of Padova,
	    Department of Statistical Sciences: responsible for
	    computer classroom (about 100 pc) installation,
	    configuration and management, with both local and remote
	    management and automatic installation tools.  Support to
	    parallel code developing for statisticals research.
	  </li>
	
	  <li>2004-2007 - EffeGi Elettronica - software analyst for
	    embedded devices used in industrial automation field;
	    product analysis and reengineering to move to Linux
	    embedded platform.
	  </li>

	  <li>1993-2004 - Biomedin – Biomedical instrumentation:
	  firmware developer on embedded realtime operating systems;
	  driver developement and data acquisition; control interface
	  development for data visualization.
	  </li>

        </ul>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <h4 class="intro-text text-center">
          <strong>Education, courses</strong>
        </h4>
    



<!--
	  ▪2015 - Corso Antincendio e primo Soccorso propedeutico alla partecipazione alle squadre di emergenza aziendali (Azienda a rischio alto)
	  ▪2015 - Corso di formazione specifica del rischio chimico, 4 ore, presso presso Istituto Gas Ionizzati/Consorzio RFX
	  ▪2014 - Corso Windows Server 2008-2012, 32 ore, presso Istituto Gas Ionizzati/Consorzio RFX
-->
           Courses related to web:
<ul>
	    <li>2015 - Advanced Drupal, 32 hours, Consorzio RFX.</li>
	    <li>2008 - I.D.R.A. on Rails (Introduction to Ruby on Rails), 24 hours, University of Padova.</li>
</ul>
<hr>
 Courses related to high performances and parallel computing:
<ul>
	  <li> 2010 - "Programming and tuning massively parallel systems summer school" (GPU programming), 40 hours, Barcelona Supercomputing Center, Spain.</li>
	  <li> 2009 - "Statistical learning and data mining", 12 hours, Danube University, Krems, Austria.</li>
	  <li> 2008 - "Calcolo parallelo" (Parallel Computing) , 60 hours, CINECA, Bologna, Italy. </li>
	  <li> 2002 - Online course "Elementi di calcolo ad alte prestazioni" (High-performance computing), part of the Europen "ADAPT" program.</li>
	  <li> 1996 - ESPRIT 9072-GEPPCOM Summer School on Architectures and Programming Paradigms for Parallel Computers, Padova.</li>
</ul>

<hr>
<ul>
	  <li>2002-2004 - attended, while working, Physics Faculty, University of Padova, giving some exams.</li>
	  <li>1993 - Laurea in Ingegneria Elettronica - vecchio
	  ordinamento (5 anni) - Universit&agrave; degli Studi di
	  Padova; Msc Electronic Engineering, University of Padova.
	  </li>

	  <li>1987 - Diploma di maturit&agrave; scientifica.
	  </li>

        </ul>
      </p>
    </div>
  </div>
</div>



<div class="row">
  <div class="box">
    <div class="col-lg-12">

<h4 class="intro-text text-center">
  <strong>Un curriculum un po' informale</strong>
</h4>


<p>

<ul>

<li>
Felice possessore di un Sinclair QL, basato su processore 68000,
inizio con i primi esperimenti, pi&ugrave; o meno riusciti, di
programmazione in Basic e, pi&ugrave; o meno falliti, di
programmazione Assembly, anche se l'Assembly del 68000 &egrave;
molto bello.
</li>

<li>
Passaggio a un noioso compatibile 8086: ho deciso di installarvi Minix
(Linux non c'era ancora!), e da qui è iniziata la mia avventura nel
mondo dei sistemi operativi Unix-like (ovviamente, era in dual boot
DOS/Minix!).
</li>

<li>
Prime lezioni di programmazione al Liceo con un professore all'avanguardia,
in Pascal, su Mac Classic.
</li>

<li>
Nel frattempo ho partecipato, classificandomi una volta primo e una secondo,
a due edizioni della Gara Matematica Citt'&agrave; di Padova.
</li>


<li>
Esperienze nei laboratori universitari con VT100 a fosfori verdi:
esploro il nascente mondo di Internet con email e news e poco altro
di quello che c'&egrave; oggi, ma molto da imparare sui sistemi Unix
e sul linguaggio C.
</li>

<li>
Prime prove con un'interfaccia grafica: il GEM su DOS a casa, le SUN
sui terminali grafici universitari, inclusi i primi test di
programmazione grafica, coi compilatori della Borland.
</li>

<li>
Nel periodo universitario, e anche un po' dopo, mi sono dedicato ai
giochi di ruolo, prevalentemente Dungeon&amp;Dragons.
</li>

<li>
Alla sera mi dedicavo spesso anche al radioascolto (in seguito ho
conseguito anche la patente di radioamatore).
</li>


<li>
Dopo la laurea in ingegneria elettronica ho iniziato a lavorare, e ad
aver accesso a un po' di architetture diverse: DOS, Mac, Sun Classic,
sia per giocarci che per fare anche cose serie!
</li>

<li>
A questo punto, entrato nel mondo del lavoro ho seguito varie attivi&agrave;:
disegno di schede elettroniche digitali (schematico e sbrogliato) per un paio d'anni.
</li>

<li>
Sviluppo firmware per microcontrollori con sistemi operativi multitasking
realtime: driver di acquisizione, filtraggio, analisi dati,
archiviazione e gestione dati in sistemi embedded,
interfaccie per dispositivi embedded; il compilatore gcc è
fantastico rispetto ai vari compilatori proprietari!
</li>

<li>
Nel frattempo Linux ha iniziato a diffondersi, ed ho potuto
dedicarmici come sistemista, per l'installazione, configurazione e
gestione di reti locali, sviluppo di applicazioni native per
controllo di strumentazione, rappresentazione e gestione dati, usando
OCaml.
</li>

<li>
Ho lavorato nel campo della automazione industriale, migrando prodotti
di una azienda alla piattaforma Linux Embedded.
</li>

<li>
Lavoro attualmente all'Universit&agrave; di Padova, prima presso il
Dipartimento di Scienze Statistiche, ora presso il Centro Ricerche
Fusione come sistemista.
</li>

<li>
Mi sono accupato occupandomi di procedure di installazione
unattended in ambiente misto Linux/Windows, per aule informatiche
didattiche.
</li>

<li>
Ho seguito la gestione di server di
cluster di calcolo, dal punto di vista del supporto alla programmazione
parallela (con corsi di calcolo parallelo presso il Cineca e corsi
su programmazione di GPU presso il Barcelona Supercomputing Center).
</li>

<li>
Ho approfondito la conoscenza di Drupal, Php e Symfony per la
gestione di siti aziendali e sviluppo di applicativi web.
</li>

<li>
Ho sviluppato alcune app per Android usando tool come <a href="http://phonegap.com/">
PhoneGap</a> o <a href="http://appinventor.mit.edu/">AppInventor</a>.
</li>


<li>
Seguo la gestione del network, anche se non &egrave; entusiasmante
come l'attivit&agrave sistemistica o di programmazione.
</li>

<li>
Sviluppo software per acquisizione dati e controllo nell'ambito di
esperimenti di fisica, usando la
scheda <a href="https://www.raspberrypi.org/"> RaspberryPi</a> (con
estensioni progettate ad hoc).
</li>

<li>
Ho collaborato con
l'Associazione <a href="http://faberlibertatis.org/">Faber
Libertatis</a>, che si occupa di recupero di hardware a fini sociali,
tenendo delle lezioni divulgative su Linux e Software Libero.
</li>

<li>
Nel tempo libero mi dedico allo studio del Cinese, da cui i progetti
relativi agli strumenti per facilitarne l'apprendimento (creazione di
un poster, un paio di app per android, la traduzione in italiano di un
corso di cinese).
</li>

<li>
Essendo sempre seduto davanti al computer, mi dedico alla sera alla
pratica del TaiChi con il gruppo di Albignasego (scuola Wudan)
</li>

<li>
Ho partecipato alcune volte in qualit&agrave; di mentore alle
iniziative <a href"https://coderdojopadova.wordpress.com/"> CoderDojo
Padova</a>, orientate all'insegnamento dei principi di programmazione
ai bambini usando <a href="https://scratch.mit.edu/">Scratch</a>, un
ambiente di programmazione molto bello.
</li>

<li>
Di tanto in tanto mi dedico alla fotografia.
</li>

</ul>

    </div>
  </div>
</div>

<!--  LocalWords:  systemistic
 -->
