
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Gianluca Moro</strong>
                    </h2>
                    <hr>

                    <img class="img-responsive img-border img-left" src="img/hyperlog.png" alt="">


<p>
Il mio secondo PC (il primo è stato il fantastico Sinclair QL, basato
su un 68000), era un noioso compatibile 8086: ho deciso di installarvi
Minix (Linux non c'era ancora!)), e da qui è iniziata la mia avventura
nel mondo dei sistemi operativi Unix-like.

L'8086 non era il massimo della velocità, ma tutto sommato non era
male rispetto alla workstation disponibile in università, al famoso
DEI di Padova, dove c'erano sempre almeno 20 studenti collegati!

Devo dire che in questo periodo ero affascinato dalla possibilità di
lavorare anche con una interfaccia grafica: sul mio 8086 usavo GEM su
DOS, in facoltà ogni tanto riuscivo a metter mano sui terminali
grafici della SUN!
</p>

<p>
Dopo la laurea ho iniziato a lavorare, e ad aver accesso a un po' di
architetture diverse: DOS, Mac, e un Sun Classic, per giocarci ma
anche per fare anche cose serie! Mi sono occupato professionalmente di
varie cose.
</p>

<p>
Sviluppo per microcontrollori con sistemi operativi multitasking
realtime: driver di acquisizione, filtraggio, analisi dati,
archiviazione e gestione dati in sistemi embedded (file system
robusti) interfaccie per dispositivi embedded; il compilatore gcc è
fantastico rispetto ai vari compilatori proprietari!
</p>

<p>
Nel frattempo Linux ha iniziato a diffondersi, ed ho potuto
dedicarmici come sistemista, per l'installazione, configurazione e
gestione di reti locali, sviluppo di applicazioni native per
controllo di strumentazione, rappresentazione e gestione dati, usando
OCaml.
Ho lavorato nel campo della automazione industriale, migrando i 
prodotti di una azienda alla piattaforma Linux Embedded.
</p>

<p>
Lavoro attualmente all'Universita' di Padova, prima presso il
Dipartimento di Scienze Statistiche, ora presso il Centro Ricerche
Fusione come sistemista occupandomi di procedure di installazione
unattended in ambiente misto Linux/Windows, gestione di server di
cluster di calcolo, webmaster.
</p>

<p>
Nel tempo libero mi dedico allo studio del Cinese, alla pratica del
TaiChi, di tanto in tanto alla fotografia e a progetti vari, non
sempre di carattere informatico!
</p>

                </div>
            </div>
        </div>
