
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Gianluca Moro</strong>
                    </h2>
                    <hr>

		</div>
                <div class="col-lg-4 text-left">

                    <img class="img-responsive img-border img-center" src="img/hyperlog.png" width="200px" alt="">

		</div>
                <div class="col-lg-8">

<p>
<p></p><br><p></p>
<h4 class="intro-text text-center">
  <strong>Libri pubblicati</strong>
</h4>

<ul>
<li>Traduttore (assieme ad altri) del corso
<a href="http://www.purpleculture.net/cinese-contemporaneo-livello-avanzato-grammatica-p-21921/">
Cinese Contemporaneo, livello avanzato</a>, (Wu Zhong Wei, Editrice Sinolingua, 2015, ISBN: 9787513808958);
</li>
<li><a href="http://www.lulu.com/content/paperback-book/nsa-note-su-android/10872370">NSA, Note su Android</a>, 
(Gianluca Moro, 2011, ISBN: 9781257859924); si veda la <a href="http://giammy.com/nsa.html">pagina</a> relativa.
</li>
<li><a href="http://www.lulu.com/content/1018770">Riflessioni</a>, (Gianluca Moro, 2007);
si veda la <a href="http://giammy.com/riflessioni.html">pagina</a> relativa.
</li>
</ul>
</p>

<hr>

</div>
                <div class="col-lg-12">

<p>
<p></p><br><p></p>
<h4 class="intro-text text-center">
  <strong>Progetti software</strong>
</h4>

<ul>
<li>App Android e poster per preparare l'esame HSK; 
si veda la <a href="http://giammy.com/hsk.html">pagina</a> relativa.
</li>
<li>Progetto <a href="http://giammy.com/cloudusb.html">CloudUsb</a>: una proof of concept per la gestione
sicura e protetta dei dati in mobilit&agrave;;
si veda la <a href="http://giammy.com/cloudusb.html">pagina</a> relativa.
</li>
<li>Gioco TicTacTic - una implementazione dell'algoritmo Alpha-beta pruning in Ocaml; 
si veda la <a href="http://giammy.com/misc.html">pagina misc</a>.
</li>


</ul>
</p>



<hr>

<p></p><br><p></p>
<h4 class="intro-text text-center">
  <strong>Note</strong>
</h4>


<p>
Il mio secondo PC (il primo è stato il fantastico Sinclair QL, basato
su un 68000), era un noioso compatibile 8086: ho deciso di installarvi
Minix (Linux non c'era ancora!), e da qui è iniziata la mia avventura
nel mondo dei sistemi operativi Unix-like.

L'8086 non era il massimo della velocità, ma tutto sommato non era
male rispetto alla workstation disponibile in università, al famoso
DEI di Padova, dove c'erano sempre almeno 20 studenti collegati!

Devo dire che in questo periodo ero affascinato dalla possibilità di
lavorare anche con una interfaccia grafica: sul mio 8086 usavo GEM su
DOS, in facoltà ogni tanto riuscivo a metter mano sui terminali
grafici della SUN!
</p>

<p>
Dopo la laurea ho iniziato a lavorare, e ad aver accesso a un po' di
architetture diverse: DOS, Mac, e un Sun Classic, per giocarci ma
anche per fare anche cose serie! Mi sono occupato professionalmente di
varie cose.
</p>

<p>
Sviluppo per microcontrollori con sistemi operativi multitasking
realtime: driver di acquisizione, filtraggio, analisi dati,
archiviazione e gestione dati in sistemi embedded (file system
robusti) interfaccie per dispositivi embedded; il compilatore gcc è
fantastico rispetto ai vari compilatori proprietari!
</p>

<p>
Nel frattempo Linux ha iniziato a diffondersi, ed ho potuto
dedicarmici come sistemista, per l'installazione, configurazione e
gestione di reti locali, sviluppo di applicazioni native per
controllo di strumentazione, rappresentazione e gestione dati, usando
OCaml.
Ho lavorato nel campo della automazione industriale, migrando i 
prodotti di una azienda alla piattaforma Linux Embedded.
</p>

<p>
Lavoro attualmente all'Università di Padova, prima presso il
Dipartimento di Scienze Statistiche, ora presso il Centro Ricerche
Fusione come sistemista occupandomi di procedure di installazione
unattended in ambiente misto Linux/Windows, gestione di server di
cluster di calcolo, webmaster, network.
</p>

<p>
Nel tempo libero mi dedico allo studio del Cinese, alla pratica del
TaiChi, di tanto in tanto alla fotografia e a progetti vari, non
sempre di carattere informatico!
</p>



                </div>
            </div>
        </div>
