

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center"><strong>Arte - Tema Africa</strong></h2>
      <hr>
    </div>
  </div>
</div>


<div class="row">
  <div class="box">

    <div class="col-lg-6 text-center">
      <p><br></p><strong>Tramonto 1</strong><p></p>
      <img src="https://www.dropbox.com/s/qydrl8gmwztifsv/20200603-tramonto-africano-th.jpg?raw=1"
	   width="300" height="210"></img>
    </div>

    <div class="col-lg-6 text-center">
      <p><br></p><strong>Paesaggio</strong><p></p>
      <img src="https://www.dropbox.com/s/bh55i6hg6peoucp/20220111-africa-1f-th.jpg?raw=1"
	   width="200" height="150"></img>
    </div>

    <div class="col-lg-6 text-center">
      <p><br></p><strong>Tramonto 2</strong><p></p>
      <img src="https://www.dropbox.com/s/uepoy6y6r94zjei/20220211-africa-2f-th.png?raw=1"
	   width="200" height="150"></img>
    </div>

    <div class="col-lg-6 text-center">
      <p><br></p><strong>Elefante al Tramonto 1</strong><p></p>
      <img src="https://www.dropbox.com/s/19io20cf36oxe48/20221119-africa3f-th.png?raw=1"
	   width="200" height="150"></img>
    </div>

    <!-- insert here new ones -->    
    
  </div>
</div>



