

  <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Art</strong>
                    </h2>
                    <hr>
		    </div>
		</div>
	    </div>

<!--
        <div class="row">
            <div class="box">
                <div class="col-lg-4 text-center">
		  </div>
                <div class="col-lg-4 text-center">
		  <strong>From my Instagram account: <a href="https://www.instagram.com/giangiammy/">giangiammy</a></strong>

<p></P>

<script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/47b4ce59598025d2f65279d72252e31d709ab004.html" id="instansive_47b4ce5959" name="instansive_47b4ce5959"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden; height: 400px"></iframe>

		    </div>
		</div>
	    </div>
-->


        <div class="row">
            <div class="box">
                <div class="col-lg-6 text-center">
		  <p></p><strong>Palme al tramonto</strong><p></p>
                  <img src="https://www.dropbox.com/s/4e8xqi6zxuooley/20200513-palmeAlTramonto-th.png?raw=1" alt="Palme al tramonto" width="300" height="210"></img>
		</div>
                <div class="col-lg-6 text-center">
		    <p></p><strong>Uccelli con luna piena</strong><p></p>
    <img src="https://www.dropbox.com/s/kki3eqjavau2bah/20200518-uccelliConLunaPiena-th.png?raw=1" alt="Uccelli con luna piena" width="300" height="210"></img>
		</div>

                <div class="col-lg-6 text-center">
		    <p><br></p><strong>Barca con luna piena</strong><p></p>
    <img src="https://www.dropbox.com/s/wrjbw0wt1wlpj67/20200523-barcaConLunaPiena-th.png?raw=1" width="300" height="210"></img>
		</div>

                <div class="col-lg-6 text-center">
		    <p><br></p><strong>Silouette di gatto</strong><p></p>

		    <img src="https://www.dropbox.com/s/ypgmogm965s7yaz/20200526-silouetteGatto-th.png?raw=1" width="300" height="210"></img>
                    <!-- https://www.dropbox.com/s/c4hs85f5j9aac6k/20200526-silouetteGattoFr-th.png?raw=1 -->
		</div>


		<div class="col-lg-6 text-center">
		    <p><br></p><strong>Coppia di gatti</strong><p></p>
		    <img src="https://www.dropbox.com/s/pl41ou9axst4qvq/20200528-coppiaDiGatti-th.png?raw=1" width="300" height="210"></img>
		</div>
		
      <div class="col-lg-6 text-center">
        <p><br></p><strong>Tramonto Africano</strong><p></p>
        <img src="https://www.dropbox.com/s/qydrl8gmwztifsv/20200603-tramonto-africano-th.jpg?raw=1" width="300" height="210"></img>
      </div>

      <div class="col-lg-6 text-center">
        <p><br></p><strong>Ciliegio in fiore</strong><p></p>
        <img src="https://www.dropbox.com/s/lrtaebu4hr543tr/20200628-cliegioInFiore-th.png?raw=1" width="300" height="210"></img>
      </div>
      <!-- acrylic cicliegio in fiore - https://www.youtube.com/watch?v=vLyQVz4cgv4&t=21s
           pebeo studio acrylics high viscosity
           nero di marte 26, bianco di titano 11, rosso di cadmio 33, 
           giallo di cadmio medio 23, giallo primario 48
      -->


      <div class="col-lg-6 text-center">
        <p><br></p><strong>Ciliegio in fiore 2</strong><p></p>
        <img src="https://www.dropbox.com/s/blstemxr18rzl6d/20200712-ciliegioInFiore2-th.jpg?raw=1" width="300" height="210"></img>
      </div>

      <!-- acrylic cicliegio in fiore - https://www.youtube.com/watch?v=vLyQVz4cgv4&t=21s
           pebeo studio acrylics high viscosity
           nero di marte 26, bianco di titano 11, rosso di cadmio 33, 
           giallo di cadmio medio 23
	   sfondo tamponato con stagnola
      -->


            <div class="col-lg-6 text-center">
        <p><br></p><strong>Ciliegio in fiore 3</strong><p></p>
        <img src="https://www.dropbox.com/s/5rcz0436a1jroc2/20200715-ciliegioInFiore3-th.jpg?raw=1" width="300" height="210"></img>
      </div>

      <!-- acrylic cicliegio in fiore - https://www.youtube.com/watch?v=vLyQVz4cgv4&t=21s
           pebeo studio acrylics high viscosity
           nero di marte 26, bianco di titano 11, rosso di cadmio 33, 
           giallo di cadmio medio 23, 48 giallo primario
	   sfondo tamponato con stagnola
      -->



      <div class="col-lg-6 text-center">
        <p><br></p><strong>CRI per te - Albero di Natale</strong><p></p>
        <img src="https://www.dropbox.com/s/gtqi8l3j59vgrdr/20201022-alberoNataleCRIperTe.jpg?raw=1"
	     width="180" height="210"></img>
      </div>
      <!-- CRI per te - Albero di Natale
           https://www.youtube.com/watch?v=DNqtnN3U9ww&ab_channel=ArtEasyForBeginners
           Pastelli a olio - Pentel da 16: 28 black, 29 white, 9 vandyke brown, 23 cobalt blue,
           14 pale blue, 3 orange, 21 green, 17 yellow green, matita sanguigna, bianchetto
           Sfumato con fazzolettino
      -->


      <div class="col-lg-6 text-center">
        <p><br></p><strong>CRI per te 2 - Albero di Natale</strong><p></p>
        <img src="https://www.dropbox.com/s/vjqkoz36hsz2u3r/20201116-alberoNataleCRIperTe2.png??raw=1"
	     width="180" height="210"></img>
      </div>
      <!-- CRI per te 2 - Albero di Natale
           https://www.youtube.com/watch?v=DNqtnN3U9ww&ab_channel=ArtEasyForBeginners
           Pastelli a olio - Pentel Arts Oil Pastel da 50: 28 black, 29 white, 9 vandyke brown, 10 vermilion
           14 pale blue, 23 cobalt blue, 24 prussian blue, 51 blue,
           22 dark green, 17 yellow green, bianchetto, scritta con pennarello acrilico
           Sfumato con fazzolettino
      -->


      
      
      

      <!-- insert here new ones -->		

    </div>

    <div class="box">
      <div class="col-lg-12 text-center">
        <a href="https://www.etsy.com/it/shop/Giammarte">Visita il negozio - see the online shop</a>
      </div>
    </div>
		
  </div>



  

	

<!-- DIGITAL -->
	
        <div class="row">
            <div class="box">
                <div class="col-lg-6 text-center">
		  <strong>The Crowd</strong>
<p></P>
    <img src="abstractart/Crowd1-300x210.png" alt="Crowd1" width="300" height="210"></img>
		    </div>
                <div class="col-lg-6 text-center">
		  <strong>Downhill</strong>
<p></P>
    <img src="abstractart/Downhill1-300x210.png" alt="Downhill1" width="300" height="210"></img>
		</div>		
		</div>
	    </div>


  <div class="row">
    <div class="box">
      <div class="col-lg-6 text-center">
        <strong>Flowers</strong>
        <p></P>
        <img src="abstractart/Flower1-300x210.png" alt="Flower1" width="300" height="210"></img>
      </div>
      <div class="col-lg-6 text-center">
        <strong>Winter Anchor</strong>
        <p></P>
        <img src="abstractart/Winter1-300x210.png" alt="Winter1" width="300" height="210"></img>
      </div>
    </div>
  </div>




