

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Beautiful images</strong>
                    </h2>
                    <hr>
		    </div>
		</div>
	    </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-4 text-center">
		  </div>
                <div class="col-lg-4 text-center">
		  <strong>From my Instagram account: https://www.instagram.com/giangiammy/</strong>

<p></P>

<!-- INSTANSIVE WIDGET --><script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/7f0ce162a234070d26495cca25f5144b4b9e5108.html" id="instansive_7f0ce162a2" name="instansive_7f0ce162a2"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden; height: 400px"></iframe>
		    </div>
		</div>
	    </div>



        <div class="row">
            <div class="box">
                <div class="col-lg-6 text-center">
		  <strong>The Crowd</strong>
<p></P>
    <img src="abstractart/Crowd1-300x210.png" alt="Crowd1" width="300" height="210"></img>
		    </div>
                <div class="col-lg-6 text-center">
		  <strong>Downhill</strong>
<p></P>
    <img src="abstractart/Downhill1-300x210.png" alt="Downhill1" width="300" height="210"></img>
		    </div>
		</div>
	    </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-6 text-center">
		  <strong>Flowers</strong>
<p></P>
    <img src="abstractart/Flower1-300x210.png" alt="Flower1" width="300" height="210"></img>
		    </div>
                <div class="col-lg-6 text-center">
		  <strong>Winter Anchor</strong>
<p></P>
    <img src="abstractart/Winter1-300x210.png" alt="Winter1" width="300" height="210"></img>
		    </div>
		</div>
	    </div>



