
        <script type="text/javascript" src="Datatables/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="Datatables/datatables.min.css"/>

        <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
        <!-- <script src="d3.min.js?v=3.2.8"></script> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
	
        <script type="text/javascript"charset="utf-8">

	  function hiddenDiv(str) {
	      return "<div style='display: none'>" + str + "</div>";
	  }

	  function image(str) {
	      return "<img src='" + str + "' alt='" + str + "' height='24' width='24'>"
	  }

	  function renderDivImgUrl(typ, url) {
	      var prefix = "20ZZZ";
	      var retStr = image("img/WWW_logo_by_Robert_Cailliau.svg");

	      if (typ.includes("INFO")) {
		  prefix = "10INFO";
		  retStr = image("img/info.svg");
	      } else if (typ.includes("TREK")) {
		  prefix = "30TREK";
		  retStr = image("img/trek.svg");
	      } else if (typ.includes("AGENZIA/")) {
		  prefix = "40AGENZIA";
		  retStr = image("img/agenzia.svg");
	      }

	      if (url.length > 0) {
		  retStr = "<a href='" + url + "' target='_blank'>" + retStr + "</a>";
	      }
	      
	      return("<center>" + hiddenDiv(prefix) + retStr + "</center>");
	  }
	  
        // initialization and configuration   
        $(document).ready( function () {
           var bicitable = $('#databicitable').dataTable( {
               "fixedHeader": true,
	       "bPaginate": false,
	       "bInfo": false, // hide showing entries
               "lengthMenu": [ 1000, 100, 75, 50, 25, 10 ],
               "columns": [
		   { "width": "16px" },
                   //{ "width": "50px" },
                   null,
                   //{ "width": "16px", "orderable": false },
               ]
              //"info":     false, // remove header and footer
              //"ordering": false,
	      //"bPaginate": false,
	      //"sDom": 'T<"clear">lfrtip'
	   } ); // end dataTable                                                                               
           Papa.parse("ciclozingarate/bici.csv", {
               //header: true,
               download: true,
               complete: function(results) {
		   results.data.forEach(function (x) {
		       if (x.length==5) {
			   var renderedContents = ["", ""];
			   renderedContents[0] = renderDivImgUrl(x[1],x[4]);
			   renderedContents[1] = x[3] + ((x[2].length>0)?"<br><i>" + x[2] + "</i>":"");
			   if (x[1].includes("FATTO")) {
   			       // console.log(x);
			       renderedContents[1] += "<div style='float: right'><img src='img/check.svg' alt='check' height='16' width='16'></div>"
			   }
			   bicitable.fnAddData(renderedContents);
		       } else {
			   console.log("Skipping ");
			   console.log(x);
		       }
		   });
               }
           });
	
        } ); // end ready function
        // END initialization and configuration
	  
        </script>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Ciclozingarate</strong>
                    </h2>
                    <hr>
                    <center><p>Una raccolta di note e link a vari siti, prevalentemente
			       riguardanti il cicloturismo</p></center>
		    <table id="databicitable" class="table table-striped table-bordered">
		      <thead>
			<tr>
			  <td>I</td>
			  <td>Note</td>
			</tr>
		      </thead>
		      <tbody></tbody>
		    </table>

		    <br>

		    <p><a href="https://it.wikipedia.org/wiki/Robert_Cailliau" target="_blank">
		        <img src='img/WWW_logo_by_Robert_Cailliau.svg'
			     alt='Original WWW logo by Robert Cailliau' height='32' width='32'></a>
		      Original WWW logo by Robert Cailliau</p>

		    <p>Another (old)
		        <a href="https://ciclozingarate.altervista.org/">Ciclozingarate blog</a></p>
		    
                </div>
            </div>
        </div>

