
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>CloudUSB</strong>
                    </h2>
<center><p>A proof of concept (2010) - no more maintained!</p></center>
                    <hr>


                    <img class="img-responsive img-border img-left" src="cloudusb/logo-cloudusb300x200.png" alt="Logo CloudUSB">

<p>
Keep your data and your programs in your pocket; use them on every
computer you find without worrying about letting around some
unwanted logs and without giving away your data security
or privacy!
<br>
The project has been developed by:
<br> 
- <a href="mailto:giangiammy@gmail.com">Gianluca Moro</a>: main
system integrator - see his <a href="http://giammy.com">home page</a> and
<br>
- <a href="mailto:antonymoro@gmail.com">Antonio Moro</a>: tester and web-promoter
</a>
</p>

<br>
<br>
<h4>CloudUSB answers to the following questions:</h4>

<p>
Do you want <b>to have your computer and your data in your pocket</b>?
<br>
Do you want an <b>online automatic backup</b>?
<br>
Do you want to <b>protect your data security and privacy</b> from unauthorized access? 
<br>
Keep reading - this could be YOUR solution: 
<br>
- a USB key containing <b>your operating environment</b> and your data
- a <b>protected folder</b> so nobody can access you data, even if you lost the key
- a <b>backup program</b> which keeps a copy of your data on an online disk,
with double password protection
- ... and everything for FREE!
</p>


<br>
<br>
<h4>The idea</h4>

<p>
It would be nice to have always a laptop with us, but so small to stay in our
pockets! But why do we need the entire laptop hardware? As a matter of fact we just 
need our software and our data!
This can be easily done with an USB key, whose storage capacity 
is sufficient to keep both programs and data, but this solution has
2 main problems:
<br>
- to execute your programs you need a computer (easy to find) but
you  have to install your programs, or you could leave some unwanted log
in the computer you use, or the computer could have some sort of
spyware installed ... you do not know exactly what you are using
- having your data always with you can enhance the possibility you
lose your data and/or, even more dangerous, someone can see and use them!
<br>

<strong>Can we solve both problems? Of course!</strong>
<br>

The solution is the use of freely available technologies based
on free software, so we know how our data are managed, and
to integrate them in a portable, flexible, powerful device: the CloudUSB!
<br>
The technologies CloudUSB integrates are well known, as to say, they
are tested and secure: our team has integrated them to answer
a very important question: how do I get my data with me, in a secure way?
<br>
In details we use:
<br>
- The linux operating systems (now we use <a href="http://www.ubuntu.com/">
  Ubuntu</a>, you can call this CloudU(S)Buntu :-), but the components
  are standard), installed on a USB key: 
  it is a bootable key, you just need to find a PC to use your
  environment without modifying anything on the host PC, nor
  letting down any log or sentitive information.
  <br>
  Linux is a very customable system and you can customize it
  to meet your needs.
<br>
- The <a href="http://www.arg0.net/encfs">EncFS module</a> 
  to secure your sensitive data with 
  <a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard">
  AES - Advanced Encryption Standard</a> or 
  <a href="http://en.wikipedia.org/wiki/Blowfish_%28cipher%29">BlowFish</a>, 
  so your data will be protected both in the usb key (if you lose it)
  and in the remote online backup storage!
<br>
- An online backup solution: now we use 
  <a href="http://dropbox.com">Dropbox</a> services, as the client is 
  multi-platform, but you can use any simular service.
<br>
All the technologies are freely available, and Dropbox services are
free (up to 2G storage): so you can test the solution!
<br>
<br>
If you need some other personalizations, you can always contact 
<a href="mailto:giangiammy@gmail.com">our team</a>.




                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Get and use it</strong>
                    </h2>
                    <hr>


<br>
<h4>To make it short</h4>
<ul>
<li> connect your CloudUSB to a PC
</li><li> boot it from USB and use your system as a normal Linux system
</li><li> put in the <b>data</b> folder all your NON sensitive data
</li><li> put in the <b>private-data</b> folder all your sensitive data 
</li></ul>
That's all!
<br>
<br>
<b>The default login username 
and password are both &quot;cloudusb&quot;</b>
<br>
<br>
<h4>Less short explanation</h4>

The configured CloudUSB is very easy to use; it comes as a Linux 
system on USB stick, configured in persistent mode: it behaves as a standard hard-disk installation which means that you can write documents,
modify settings and they will be saved on the key for the next 
time you use it, as in your desktop PC!
<br>
<br>
After you have configured your dropbox account and your private data
folder you will get 2 folders on your desktop: a <b>data</b> folder
and a <b>private-data</b>.
They are both syncronized by Dropbox on their online server, so
if you lose  your key, you have an on-line backup, or you can
work on the same data both from CloudUSB key and from your desktop computer
(if this is connected to the same Dropbox account)
<br>
<br>
You could have some perplexities to send your data on a remote server,
via Internet, but in this case you just put your sensitive data in 
the  private-data folder: this folder is protected by a password,
the data you put in is crypted locally, and sent over the Internet
to the Dropbox storage <b>in crypted form</b>.
<br>
<br>
The data in the private-folder is stored in a crypted format even
locally in the USB key, and made available only if you login in the
system with the correct password.

<b>Note that if you lose the usb key, and someone access your data, he will
NOT see your private data!</b>

<br>
<br>
<h4>Howto configure it</h4>
<br>
The CloudUSB needs to be configured before you use it. The steps you
need to accomplish are the following:
<ul>
<li> Boot the CloudUSB key: the first time the boot will be 
somewhat slower because it has to initialize the persistent data partition
</li>
<li> After the boot, change the password! <b>The default login username 
and password are both “cloudusb”</b>. You need to change
the password to keep your privacy! The password you use to login will be
the same used to crypt your sensitive data, so choose a good password!
</li>
<li> Reboot the system to verify that you correctly set the password and
everything is OK
</li>
<li>Run the script <b>setup.sh</b> you find in the desktop
(click on it and select <b>Run</b>):
this will download the Dropbox client (you need to be connected to
internet to accomplish this step!) and install it.
If you have an account, use it, otherwise create a new account.
</li>

<li>If you never used that Dropbox account with CloudUSB private data,
when you are asked <b>Do you want to initialize the private-data directory? 
(Only needed on new Dropbox account)</b> answer <b>OK</b>: 
this will create the crypted folder to store your data. 
<b> Set the same password as the login one!</b> 
</li>
<li> reboot to have your data and private-data on and working!
</li></ul> 

<br>
<h4>DOWNLOAD CloudUSB 1.1 based on Ubuntu 10.04 LTS</h4>

<!-- giangiammy test gmail com - release 1.1 -->

<ul>
<li>go to <a href="http://linuxfreedom.com/cloudusb/download.html"
target="blank">Download page for the ISO</a>

<li><a href="files/create-usb-key_1.1.sh">
create-usb-key_1.1.sh</a>: Script to copy the image on a USB KEY</li>

<li><a href="files/cloudusb-build_1.1.sh">
cloudusb-build_1.1.sh</a>: Script to build CloudUSB ISO from scratch (some expertise needed)</li>


</ul>



<br>
<b>Note: The default login username 
and password are both “cloudusb”</b>
<br>

<br>
<h4>System requirements:</h4>
<ul>
<li> To run CloudUSB:
     <ul> 
       <li>a usb flash drive: recommended 4G or more (but it can fit in a 2G usb stick</li>
       <li>the host PC must be able to run Ubuntu Linux: see
           <a href="https://help.ubuntu.com/community/Installation/SystemRequirements"> Ubuntu System Requirements</a></li>
     </ul>
</li>
<li> To create your own CloudUSB, same as before, plus:
  <ul>
      <li>CloudUSB ISO and create_usb script (see below)</li>
      <li> a host PC with a Linux OS and the UnetBootIn program installed</li>
  </ul>
</ul>

<br>



<h4>Instructions - the easy way</h4>
<br>
<b>WARNING</b> The script create-usb-key will partition 
  and format the device where you are installing CloudUSB: <b>BE CAREFUL: 
  if you select the wrong device, you will lost all your data!</b>
<br>
To create your CloudUSB you just need to follow these steps:
<ul>
<li> Download the ISO image (about 1G)</li>
<li> Download the create-usb-key script</li>
<li> Run the script and follow the instructions. Note:
<ul>
<li>The script will need to run as superuser</li>
<li>The script will format a device: be careful to select the correct device</li>
<li>You will need at least a 2G USB key</li>
</ul>
</li>
</ul>

<br>
<h4>Instructions - the manual way :-)</h4>
<br>
The script create-usb-key implements the following instructions: 
you can issue these commands by hand if you want to see the
details of the CloudUSB creation: to follow these instruction
you are supposed to be comfortable with command line issues!

<ul>
<li> Partition the usb key, creating 2 partitions, the first will be
 a FAT 32 partition (id 0xb in fdisk), big enough to keep the
operating system: our advice is at least 1.5G; the second will keep
the data, so it will be an ext2 or ext3 partition, at least 512M.
An example is the following:

<pre>
   Device Boot      Start         End      Blocks   Id  System
/dev/sdx1   *           1         489     1643012    b  W95 FAT32
/dev/sdx2             490        1166     2274720   83  Linux
</pre>
</li>

<li> Format the partition, the first using <tt>mkfs.vfat</tt>, while
the second must have the partition label setted to <tt>casper-rw</tt>
to have the persistent installation; something like:
<tt>mkfs.ext2 -b 4096 -L casper-rw /dev/sdx2</tt>
</li>

<li> Run UNetbootin to copy the ISO image to USB stick, to the 1st
partition
</li>

<li> Fix the configuration file <tt>syslinux.cfg</tt>  copied to 
the stick by the unetbootin program, by modifying the line containing
<tt>boot=casper quiet splash</tt> and adding the <tt>persistent</tt> 
option so it becomes <tt>boot=casper persistent quiet splash</tt>
</li>
</ul>

<br>
<br>
<h4>The following section is only for developers:</h4>
<br>
The main steps to create the CloudUSB are:
<ul>
<li> install PAM</li>
<li> install encfs</li>
<li> install Dropbox</li>
<li> install remastersys</li>
<li> configure PAM to mount the private data encrypted file system</li>
<li> create your bootable live usb key using 
     <a href="http://unetbootin.sourceforge.net/">
     UNetBootin</a>, in persistent mode</li>
</ul>

</li>
</ul>

<br>
<br>
<h4>We are linked by:</h4>
<ul>
<li>CloudUSB mirror at
<a href="http://cloudusb.linuxfreedom.com/">Linux Freedom</a></li>
<li><a href="http://freshmeat.net/projects/cloudusb">FreshMeat</a></li>
</ul>




                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>The control point</strong>
                    </h2>
                    <hr>

<p>
Data privacy is a very serious problem: it is very easy to
consider some information not so meaningful to keep them
reserved, but you must remember that when you put some
data on line you never know where it will  be
used, who will store them, for how long, and how many 
times it will be duplicated.
<br>
We can say that <b>when you put your data on line, you lose
control of it!</b>
<br>
This is a good reason to be cautious when dealing with your personal data:
but what do we mean with <b>privacy</b>?
<br>
We mean the control on data access: just the owner must be able to
access to her/his data, and show it to other people if (s)he desires.
<br>
This is easy with concrete objects,  but much more difficult
with digital data, whose duplication is very easy.
</p>
<br>
<br>
<h4>A solution to privacy</h4>
<p>
The standard solution to protect the privacy is to use cryptography;
you can have an idea on <a href="http://en.wikipedia.org/wiki/Cryptography">
Wikipedia</a>: a method to make your data unavailable to 
unauthorized people!


Internet and today widespread connectivity possibilities have
make very easy and  useful the data spreading all over the
world with the obvious advantage of having it available
everywhere.
<br><br>
But which is the missing concept in this scenario?
It is the <b>control point</b> idea!
<br><br>
Whenever we assist to  major (or minor) revolutions there are a lot
of new things, different things, or thing that are used differently.
The first reaction is the fear to be overwhelmed by the new ideas
and technology, to have no control on what is going on and
to refuse everything.
<br>
It's obviously a wrong approach: new ideas can be managed by
noting the essence of what we think is a problem, and when we have
it clear, the solution will be at hand.
<br><br>
The problem of data uncontrolled spread is the <b>control point</b>!
<b>Who controls my data?</b>
<br><br>
The problem is not having  data spread all over the world, but having
control  of it. This is an obvious observation, but a very effective one.
<br>
One can put his data on remote servers, but keep the control of it,
not by some  uncertain "Legal Agreement" but keeping technically 
the data available only to authorized persons.
<br>
The solution proposed by CloudUSB 
exploits just this simple idea: data is crypted using the state of the art
technologies. This means that only the person with the correct password
can access to the data.
<br>
When this has been assured, the
data can be stored everywhere and  we are sure that the control point
is in our USB stick which will be a key to access the data.
A key which will make easy to access the data, but not the only key:
one can duplicate his key, both on other USB stick or personal 
computer, or create a new key when necessary, with the only
requirement to know the correct password!
</p>

<br>
<br>
<h4>Open Source &amp; Privacy</h4>
<p>
CloudUSB presents a solution to guarantee data security and privacy
based on Open Source. We suppose everyone knows what Open Source is,
anyway you can find a <a href="http://en.wikipedia.org/wiki/Open_source_software">definition here</a>.
<br>
How can Open Source contribute to security and privacy? Well,
we'd rather say that <b>only Open Source can grant Security  and Privacy</b>,
if we want verify the applied technical solution!
<br>
Open Source guarantees the access to the source, so everyone can
verify what the software does, or can hire someone to check it!
<br>
<b>With an Open Source Solution you can technically verify the
status of your Security and Privacy!</b>
<br>
Another very useful feature of Open Source is that you have a
world wide community which is checking the software, so, for example,
you can be sure that cryptographic algorithms are checked over and over!
</p>




                </div>
            </div>
        </div>
