

        <div class="row">
            <div class="box">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Books</strong>
                </h2>
                <hr>

                <div class="col-lg-4 text-center">
                    <h2 class="intro-text text-center">
                        <a href="riflessioni.html">Riflessioni</a>
                    </h2>
		    <a href="riflessioni.html">
                        <img class="img-responsive img-border img-rounded" src="img/riflessioni.jpg" alt="" width="200">
		    </a>

                    <br>
                    <p>Alcune Riflessioni personali sulla Vita e su quanto ci circonda.</p>
		</div>

                <div class="col-lg-4 text-center">
                    <h2 class="intro-text text-center">
                        <a href="nsa.html">Note su Android</a>
                    </h2>
		    <a href="nsa.html">
                        <img class="img-responsive img-border img-rounded" src="img/nsa-cop-fronte.png" alt="" width="215">
		    </a>
                    <br>
                    <p>Alcune note su Android usato su sistemi embedded
                    </p>
		</div>

                <div class="col-lg-4 text-center">
                    <h2 class="intro-text text-center">
                        <a href="psn.html">Symfony e Php</a>
                    </h2>
		    <a href="psn.html">
                        <img class="img-responsive img-border img-rounded" src="img/psn-cop-fronte.png" alt="" width="215">
		    </a>
                    <br>
                    <p>Come impostare il progetto di una applicazione web usando Symfony e Php
                    </p>
		</div>
                <!-- ISBN 9780244732554 Copyright Gianluca Moro, Massimo Gola - pubblicato 20181109 -->

	    </div>
	</div>




        <div class="row">
            <div class="box">

                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Chinese and photos material</strong>
                    </h2>
                    <hr>


                <div class="col-lg-6 text-center">
<h2 class="intro-text text-center">
<a href="hsk.html">HSK - poster and apps</a>
</h2>
		  <a href="hsk.html">
                    <img class="img-responsive img-border img-rounded" src="hsk/hsk-dragon2o.png" alt="" width="200">
		  </a>
<br>

<p>
<strong>Lists of HSK characters as poster:</strong></p>
<p>
 the HSK1 poster is freely available!
</p>
<p>
<strong>Apps to learn HSK1 vocabulary</strong></p>
<p>
the english version is freely available!
</p>

		</div>

<!--
                <div class="col-lg-4 text-center">
		  <h2 class="intro-text text-center">
		    <a href="gadgets.html">Gadgets</a>
		  </h2>
		  <a href="gadgets.html">
                    <img class="img-responsive img-border img-circle" src="img/110-20140605-olandaMulino.png" alt="" width="128">
		  </a>
<br>
<p>
Are you nerd enough?
</p>
		</div>
-->

                <div class="col-lg-6 text-center">
<h2 class="intro-text text-center">
<a href="art.html">Images</a>
</h2>
		  <a href="art.html">
                    <img class="img-responsive img-border img-rounded" src="abstractart/Downhill1-300x210.png" alt="" width="218">
		  </a>
<br>
<p>
Images digitally created,
</p>
<p>
Photos from real world,
</p>
<p>
According to my personal 
</p>
<p>
concept of beauty!
</p>
		</div>






	    </div>
	</div>




        <div class="row">
            <div class="box">


                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Security and Brain Control</strong>
                    </h2>
                    <hr>

                <div class="col-lg-6 text-center">
<h2 class="intro-text text-center">
<a href="cloudusb.html">CloudUSB</a>
</h2>
		  <a href="cloudusb.html">
                    <img class="img-responsive img-border img-rounded" src="cloudusb/logo-cloudusb300x200.png" alt="Logo CloudUSB">
</a>

<br>
<p>
Keep your data and your programs in your pocket; use them on every
computer you find without worrying about letting around some
unwanted logs and this without giving away your data security
or privacy!
</p>

		</div>

                <div class="col-lg-6 text-center">
<h2 class="intro-text text-center">
<a href="bci.html">Control the PC with your mind!</a>
</h2>
		  <a href="bci.html">
                    <img class="img-responsive img-border img-rounded" src="img/mind.jpg" alt="" width="200">
		  </a>
<br>
<p>   A direct interface from your brain to the world!
<br>
An independent research project aimed at developing an input device based on BCI (Brain Control Interface).
A low cost, based on Open Software solution.
</p>
		</div>

	    </div>
	</div>
