

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        <strong>Stradari di alcuni comuni della provincia di Padova</strong>
      </h2>
      <hr>
    </div>


    <div class="col-lg-4 text-center">
      <strong>In rosso sono evidenziati gli stradari presenti</strong>
      <p></p>
      <img src="https://www.dropbox.com/s/0idfyto9hyrsgn6/Z0_provincia-padova.png?raw=1" alt="provincia" width="280"></img>
      <p></p>
      I dati derivano da <a href="https://www.openstreetmap.org/">Open Street Map</a>.<br>
      I file sono stati generati <!-- su
      <a href="https://print.get-map.org/">print.get-map.org</a>, -->
      tramite <a href="https://maposmatic.osm-baustelle.de/">MyOSMatic</a>.<br>
      Per ulteriori dettagli si vedano i siti indicati.
    </div>
    <div class="col-lg-4 text-center">
      <a href="mappe/A4_abano-terme.pdf">Abano Terme</a><br>
      Agna<br>
      <a href="https://www.dropbox.com/s/qnkjj16075qxfuj/A4_albignasego.pdf?raw=1">
	Albignasego</a><br>
      Anguillara Veneta<br>
      Arqu&agrave; Petrarca<br>
      Arre<br>
      Arzergrande<br>
      Bagnoli di Sopra<br>
      Baone<br>
      Barbona<br>
      <a href="https://www.dropbox.com/s/zpdcoux49g3tvgd/A4_battaglia-terme.pdf?raw=1">Battaglia Terme</a><br>
      Boara Pisani<br>
      Borgo Veneto<br>
      Borgoricco<br>
      <a href="https://www.dropbox.com/s/z8xzeqczp1c3f8s/A4_bovolenta.pdf?raw=1">Bovolenta</a><br>
      <a href="https://www.dropbox.com/s/9afrzog9x6q58fk/A4_brugine.pdf?raw=1">Brugine</a><br>
      Cadoneghe<br>
      Campo San Martino<br>
      Campodarsego<br>
      Campodoro<br>
      Camposampiero<br>
      Candiana<br>
      Carceri<br>
      Carmignano di Brenta<br>
      <a href="https://www.dropbox.com/s/53f07ougadj2416/A4_cartura.pdf?raw=1">Cartura</a><br>
      Casale di Scodosia<br>
      <img src='img/check.svg' alt='check' height='16' width='16'>
      <a href="https://www.dropbox.com/s/twxxb40sgo8uzby/A4_casalserugo.pdf?raw=1">
	Casalserugo</a><br>
      Castelbaldo<br>
      Cervarese Santa Croce<br>
      Cinto Euganeo<br>
      Cittdella<br>
      Codevigo<br>
      <a href="https://www.dropbox.com/s/gr5ghc1ivudrk2p/A4_conselve.pdf?raw=1">Conselve</a><br>
      Correzzola<br>
      Curtarolo<br>
      <a href="https://www.dropbox.com/s/735w61vkf2993hf/A4_due-carrare.pdf?raw=1">Due Carrare</a><br>
      Este<br>
      Fontaniva<br>
      GallieraVeneta<br>
      Galzignano Terme<br>
      Gazzo<br>
      Grantorto<br>
      Granze<br>
      <a href="https://www.dropbox.com/s/nlb0sqdlvzbez7q/A4_legnaro.pdf?raw=1">Legnaro</a><br>
      Limena<br>
      Loreggia<br>
      Lozzo Atestino<br>
      <img src='img/check.svg' alt='check' height='16' width='16'>
      <a href="https://www.dropbox.com/s/6of7ffn3pfjmn5r/A4_masera-di-padova.pdf?raw=1">
	Maser&agrave; di Padova</a><br>
      Masi<br>
      Massanzago<br>
      Megliadino San Vitale<br>
    </div>
    <div class="col-lg-4 text-center">
      Merlara<br>
      Mestrino<br>
      Monselice<br>
      Montagnana<br>
      <a href="mappe/A4_montegrotto-terme.pdf">Montegrotto Terme</a><br>
      <a href="mappe/A4_noventa-padovana.pdf">Noventa Padovana</a><br>
      Ospedaletto Euganeo<br>
      <a href="mappe/A4_padova.pdf">Padova</a><br>
      <a href="mappe/A4_pernumia.pdf">Pernumia</a><br>
      Piacenza d'Adige<br>
      Piazzola sul Brenta<br>
      Piombino Dese<br>
      <a href="mappe/A4_piove-di-sacco.pdf">Piove di Sacco</a><br>
      <a href="mappe/A4_polverara.pdf">Polverara</a><br>
      Ponso<br>
      Pontelongo<br>
      Pozzonovo<br>
      Rovolon<br>
      Rubano<br>
      Saccolongo<br>
      San Giorgio delle Pertiche<br>
      San Giorgio in Bosco<br>
      San Martino di Lupari<br>
      <a href="mappe/A4_ponte-san-nicolo.pdf">Ponte San Nicol&ograve;</a><br>
      San Pietro in Gu<br>
      <a href="mappe/A4_san-pietro-viminario.pdf">San Pietro Viminario</a><br>
      <a href="mappe/A4_sant-angelo-di-piove-di-sacco.pdf">Sant'Angelo di Piove di Sacco</a><br>
      Sant'Elena<br>
      Sant'Urbano<br>
      Santa Giustina in Colle<br>
      <a href="mappe/A4_saonara.pdf">Saonara</a><br>
      Selvazzano Dentro<br>
      Solesino<br>
      Stanghella<br>
      Teolo<br>
      <a href="mappe/A4_terrassa-padovana.pdf">Terrassa Padovana</a><br>
      Tombolo<br>
      Torreglia<br>
      Trebaseleghe<br>
      Tribano<br>
      Urbana<br>
      Veggiano<br>
      Vescovana<br>
      Vighizzolo d'Este<br>
      Vigodarzere<br>
      Vigonza<br>
      Villa del Conte<br>
      Villa Estense<br>
      Villafranca Padovana<br>
      Villanova di Camposampiero<br>
      Vo'<br>
    </div>    
  </div>
</div>
