

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Stradari di alcuni comuni della provincia di Padova</strong>
                    </h2>
                    <hr>
		    </div>
		</div>
	    </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-4 text-center">
		  <strong>In rosso sono evidenziate gli stradari presenti</strong>
<p></P>
    <img src="mappe/Z0_provincia-padova.png" alt="provincia" width="200"></img>
		    </div>
                <div class="col-lg-8 text-center">
		  <strong>Lista stradari</strong>
		  <ul>
<li><a href="mappe/A4_abano-terme.pdf">Abano Terme</a></li>		    
<li><a href="mappe/A4_albignasego.pdf">Albignasego</a></li>		    
<li><a href="mappe/A4_battaglia-terme.pdf">Battaglia Terme</a></li>
<li><a href="mappe/A4_bovolenta.pdf">Bovolenta</a></li>		    
<li><a href="mappe/A4_brugine.pdf">Brugine</a></li>		    
<li><a href="mappe/A4_cartura.pdf">Cartura</a></li>
<li><a href="mappe/A4_casalserugo.pdf">Casalserugo</a></li>		    
<li><a href="mappe/A4_conselve.pdf">Conselve</a></li>		    
<li><a href="mappe/A4_due-carrare.pdf">Due Carrare</a></li>
<li><a href="mappe/A4_legnaro.pdf">Legnaro</a></li>		    
<li><a href="mappe/A4_masera-di-padova.pdf">Maser&agrave; di Padova</a></li>		    
<li><a href="mappe/A4_montegrotto-terme.pdf">Montegrotto Terme</a></li>
<li><a href="mappe/A4_noventa-padovana.pdf">Noventa Padovana</a></li>		    
<li><a href="mappe/A4_padova.pdf">Padova</a></li>		    
<li><a href="mappe/A4_pernumia.pdf">Pernumia</a></li>
<li><a href="mappe/A4_piove-di-sacco.pdf">Piove di Sacco</a></li>		    
<li><a href="mappe/A4_polverara.pdf">Polverara</a></li>		    
<li><a href="mappe/A4_ponte-san-nicolo.pdf">Ponte San Nicol&ograve;</a></li>
<li><a href="mappe/A4_san-pietro-viminario.pdf">San Pietro Viminario</a></li>		    
<li><a href="mappe/A4_saonara.pdf">Saonara</a></li>		    
<li><a href="mappe/A4_terrassa-padovana.pdf">Terrassa Padovana</a></li>
		  </ul>
		</div>
	    </div>
        </div>
