
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Linux Material</strong>
                    </h2>
                    <hr>

<p>
<a href="files/cars-20181107.pdf">Control and Acquisition on RaspberryPi</a>, 2018. 
Una presentazione tenuta presso la Fondazione Ingegneri Padova, relativa all'uso
di un sistema RaspberryPi nell'ambito di esperimenti di fisica nucleare.
</p>


<p>
<a href="files/IntroduzioneALinuxERaspberryPi2016.pdf">Introduzione a
GNU/Linux e raspberryPi</a>, 2016.  Adattamento della traduzione delle
slide di Free Electrons per un corso introduttivo a Linux e
RaspberryPi tenutosi presso il Consorzio RFX.
</p>




<p>
<a href="files/torque-howto.pdf">
Torque queue management system
</a> HOWTO, written on Jan. 2012
</p>

<p>
<a href="files/unix_linux_introduction_it.pdf">Introduzione a Unix e
GNU/Linux</a>.  Traduzione (fatta nel 2006) in italiano di una
presentazione relativa ad una Introduzione a GNU/Linux,
originariamente pubblicata in inglese da Free Electrons.
</p>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Introduzione alla Fisica Quantistica</strong>
                    </h2>
                    <hr>

<p>
Raccolgo qui del materiale relativo al corso di Fisica 5F
seguito, presso il Dipartimento di Fisica "Galileo Galilei"
dell'<a href="http://www.unipd.it">Università degli studi di Padova.</a>
</p>

<p>
Il materiale è costituito dalla trascrizione dei miei appunti delle
lezioni del corso di Fisica 5F tenuto dal prof. Busetto nell'anno
2003: il materiale NON è ufficiale: ogni errore, incorrettezza,
incoerenza o altro è da imputare esclusivamente a me e non al
prof. Busetto.
</p>

<p>
Il materiale &egrave; disponibile in
<a href="files/appuntifisica5f.pdf">in formato PDF</a> con relativi
<a href="files/appuntifisica5f.tar.gz">sorgenti in formato LaTeX</a>.
Ultimo aggiornamento: r0.70 - 20 Luglio 2003
</p>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-12">

                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>TicTacTic</strong>
                    </h2>
                    <hr>

<p>
TicTacTic is a variation of the classical TicTacToe or Tris game, made
more interesting by the introduction of the concept of the "Aging
cells", to avoid the sure draw of TicTacToe game: each player can
occupy just 3 cells, when one more cell is occupied, the oldest one is
freed.
<strong>The manual is included in the package</strong>
</p>

<p>
The game has been implemented in Caml, using Tk as graphic
toolkit. It's freely available under GPL, and it comes with
precompiled binaries, both for Linux and Windows.
The program is given under the GPL License.
</p>


<p>
The software is available 
<a href="files/ttt-1.23-win32.zip">as Windows executable (compiled in year 2000)</a> or
<a href="files/ttt-1.23.tar.gz">OCaml sources (written in year 2000)</a>.
</p>

<p>
The Sourceforge page is 
<a href="http://sourceforge.net/projects/tictactic/files/">here</a>
</p>






                </div>
            </div>
        </div>

