
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Symfony e Php</strong>
                    </h2>
                    <hr>

                    <img class="img-responsive img-border img-left" src="img/psn-cop-fronte.png" alt="" width="128">

<p>
Come impostare il progetto di una applicazione web usando Symfony e Php.
</p>

<p>
Basato sulla versione 2.x e 3.x di Symfony.
</p>

<p>
Potete acquistare online il libro 
<p>

<p>
<a href="http://www.lulu.com/shop/gianluca-moro-and-massimo-gola/symfony-e-php/paperback/product-23866400.html" target="_blank">
Symfony e Php - di Gianluca Moro e Massimo Gola - ISBN 978-0-244-73255-4, formato cartaceo</a>
</p>

<p>
<a href="http://www.lulu.com/shop/gianluca-moro-and-massimo-gola/symfony-e-php/ebook/product-23909466.html">
oppure l'ebook in PDF.</a>
</p>

                </div>
            </div>
        </div>
